@import './styles/reset.css';
@import 'var.scss';

body{
  min-width: 1220px;
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.ds-container{
  margin: 0 auto;
  width: 85vw;
  min-width: 1080px;
}